	<!-- main div that contains everything -->
	
	
	
	<div ng-controller="dashboardController" class="container">
	<br>
	<div ng-class="{fade:doFade}" ng-show ="doshow">
	<div ng-repeat="x in listAlerts"
			class="alert alert-success alert-dismissible" id="alert">
			
			<strong>Alert!</strong> {{x}}
		</div>
	</div> 	
		
		<!-- row for dropdown -->
		<div class="row"> 
			<div class="col align-self-center">
				<select ng-model="selectedBus"
          ng-options="bus.name for bus in listBusses">
    </select>
			</div>
    </select>

</div>

