<div class="container-fluid" ng-controller="mapViewController">
<br>
 <div ng-class="{fade:doFade}" ng-show ="doshow">
    <div ng-repeat="x in listAlerts"
            class="alert alert-danger alert-dismissible" id="alert">
            
            <strong>Alert!</strong> {{x}}
        </div>
    </div>  

	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<style>
			/* Set the size of the div element that contains the map */
			#map {
				height: 100%;  /* The height is 400 pixels */
				width: 100%;  /* The width is the width of the web page */
			}
		</style>
	</head>

		<div class="row"> 
			<div class="col align-self-center">
				<label>Select a Bus and AM/PM : </label>
				<select ng-model="selectedBus"
				ng-options="bus.name for bus in listBusses" ng-change="callinitMap(selectedBus)">
			</select>
		</div>
	</select>

</div>


<br>

	<div class="row">
		<!-- map -->
		<div class="col-md-8">
			<div id="map" style="border: solid; border-radius: 13px;"></div>
		</div>
		<!-- list -->
		<div class="col-md-4">
			<h3>{{selectedRoute}} Bus Route</h3>
			<table class="table table-striped">
				<tr>
					<th>Time</th>
					<th>Address</th>
					<th>Stop</th>
				</tr>
				<tr ng-repeat="route in routes">
					<td>{{route.Time}}</td>
					<td>{{route.Address}}</td>
					<td>{{route.Stop}}</td>
				</tr>

			</table>


		</div>
	</div>

</div>
